* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #090909;
}

header {
  height: 200px;

  color: rgb(242, 242, 242);
  text-align: center;
  padding-top: 50px;
}

main {
  display: flex;
  flex: 1;
}

aside {
  width: 25%;
  background-color: #e0e0e0;
  padding: 20px;
  margin-right: 50px;
}
.artist-image {
  width: 100px;
  height: auto;
}

section {
  width: 65%;
  background-color: #fff;
  padding: 20px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: auto;
}

#searchForm {
  font-size: 1.5em;
}

.video h2 {
  text-align: center;
}

@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
  }

  aside {
    width: 100%;
  }

  .video {
    padding: 20px;
  }
}

/* Increase paragraph size */
p {
  font-size: 1.1em; /* Adjust the font size as needed */
}
