* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

header {
  height: 200px;

  color: rgb(9, 9, 9);
  text-align: center;
  padding-top: 50px;
}

main {
  display: flex;
  flex: 1;
}

aside {
  width: 20%;
  background-color: #e0e0e0;
  padding: 20px;
}

section {
  width: 70%;
  background-color: #fff;
  padding: 20px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: auto;
}
