* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #090909;
  background-image: url("./theNote.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  height: 200px;
  color: rgb(242, 242, 242);
  text-align: center;
  padding-top: 50px;
}

main {
  display: flex;
  flex: 1;
}

aside {
  width: 25%;
  background-color: #e0e0e0;
  padding: 20px;
  margin-right: 50px;
}
.artist-image {
  width: 100px;
  height: auto;
}

section {
  width: 65%;
  background-color: #fff;
  padding: 20px;
}

footer {
  background-color: #0c0c0c;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: auto;
}
div h3 {
  padding-top: 10px;
}

#searchForm {
  font-size: 1.5em;
}

.video h2 {
  text-align: center;
}
p {
  font-size: 2em;
}
.album-info {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.audiobook-paragraph {
  font-size: 5em;
}
.audiobook-description {
  font-size: 5em;
}

#searchForm button[type="submit"] {
  padding: 5px 10px;
}

#searchForm button[type="submit"] {
  background-color: rgb(66, 168, 211);
  color: white;
}
@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
  }

  aside {
    width: 100%;
  }

  .video {
    padding: 20px;
  }
}

p {
  font-size: 1.1em;
}
